
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTACT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <img src="assets\img\GameStore.jfif">  
    </ion-item>
  </ion-list>

  <ion-text color="">
    <h1> Bienvenido a Game Store</h1>
  </ion-text>

  <ion-text color="">
    <h2>Lugar Donde encontraras todo lo que necesitas para tu entretencion.</h2>
  </ion-text>

  <div class="square"></div>

 </ion-content>
 
 <ion-footer>
  <div id="container">
  <strong class="Footer"></strong>
  <p>Ubicacion: anywhere // correo: gamestore@correo.com // fono:+569 99999999 </p>
  </div>
</ion-footer>
